<%= link_to "Home", coupons_path %>

<h1> This is one of my coupons!!!! </h1>

<h1> This coupon has a good looking code of <%= @coupon.coupon_code %></h1>

<h1> This coupon is from <%= @coupon.store %></h1>

<h1> Thank you so much for looking at one of my very special coupons! </h1>